name: Build & Publish

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    # really important for ensuring that the package inherits the permissions of the repo
    # https://stackoverflow.com/questions/77092191/use-github-to-change-visibility-of-ghcr-io-package
    permissions: write-all

    steps:
      - uses: actions/checkout@v6

      - uses: cosq-network/dotenv-loader@v1.0.2
        with:
          env-file: .env

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: iloveitaly/github-action-nixpacks@main
        with:
          platforms: "linux/amd64,linux/arm64"
          push: true
